body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    min-height: 100vh;
}



nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    grid-area: nav;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    grid-area: footer;
}



/* Responsive design for smaller screens */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}