
 .error {
    color: red;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

h1{
    color: red;
    text-align: center;
}

body{
    background-color: black;
    color: white;
}

.form-container{
    background-color: white;
    width: 400px;
    background-image: url("https://images.pexels.com/photos/1782407/pexels-photo-1782407.jpeg?auto=compress&cs=tinysrgb&w=600");
    margin: 100px auto;
    box-shadow: 0px 0px 10px 10px #1e0464;
    padding: 10px;
    border-radius: 10px;
}


input[type="text"],input[type="email"],input[type="password"]
{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid gray;
}


